html,  body{
  height: 100%;
  background-color: #2D353C;  

}
header{

  background-color: #fff;
  min-height: 50px;
 position: fixed;
 z-index: 2000;
 width: 100%

}
.container-fluid .logo img{
  width: 180px;
  height: 45px;
}

.banner-search > input + i {
    opacity: 1;
    position: absolute;
    top: 18px;
    right: 30px;
    color: #fff;
}
.banner-search-keyword{
  width: 80%;
  box-sizing: border-box;
  background: #dfdfdf;
  border: 1px solid #C7C7C7;
  border-radius: 4px;
  outline:none;
  color: #686868;
  height: 30px;
  line-height: 1em;
  padding: 0 35px 0 10px;
  transition:0.4s ease-in-out;
  position: absolute;
  top: 10px;
}
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
}

.banner-search-keyword:focus{
  width: 90%;
  background: #dfdfdf;
}


.dropdown{
  list-style-type: none;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 165px;
}

.dropdown : hover{
  background-color: green;
}
.avatar{
  width: 40px;
  float: left;
  margin-right: 5px;
}

.avatar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: -4px;
}

.user > span.welcome{
  float: left;
  color: #555;
  font-weight: bolder;
}


.national{
  float: right;
  margin-left: 5px;
}
.national img{
  width: 15px;
  height: 10px;
}

.user span{
font-size: 12px;
color: #555;
margin-bottom: -4px;
text-decoration: none;
}

.user > i.pull-right {
  float: right;
    color: #121212;
    border: 0 !important;
    box-shadow: none;
    font-size: 16px;
    background: none !important;
    margin-top: 7px;
}

a:hover{
  background: rgba(0, 0, 0, 0.1);
}
.main-menu{
	background-color: #1d2226;
  padding-top: 50px;
}
.home-menu ul {

  background-color: #2D353C; 
    width: 100%;
  padding: 0;
  list-style-type: none;
  text-align: left;
  
}
.home-menu li {
  width: auto;
  height: 40px;   
}
.home-menu li a {
	text-decoration: none; /*bo dau gach*/
    color: #a8acb1;
    font-size: 12px;
    padding-left: 30px;
    line-height: 40px;
   
}
.home-menu li:hover {
  background: #1d2226;
  width: auto;
}
.home-menu a:hover {
  color: white;
  width: auto;
}
.my-activity ul {

  background-color: #2D353C; 
    width: 100%;
  padding: 0;
  list-style-type: none;
  text-align: left;
  
}
.my-activity li {
  width: auto;
  height: 40px; 
 
}
.my-activity li a {
	text-decoration: none; /*bo dau gach*/
    color: #a8acb1;
    font-size: 12px;
    padding-left: 30px;
    line-height: 40px;
   
}
.my-activity li:hover {
  background: #1d2226;
  width: auto;
}
.my-activity a:hover {
  color: white;
  width: auto;
}
.textMyActivity{
	height: 25px;
   color: white;
    font-size: 12px;
    padding-left: 30px;
 

}
.menu-bar{
	padding: 0;
    background: #2D353C;
    border-left: #1d2226 solid 1px;
    padding-top: 50px;
}
.menu-bar a:hover {
  color: white;
  width: auto;
}
.show-sidebar{
	padding: 10px 15px;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    color: #a8acb1;
}
.breadcrumb {
	padding: 10px 15px;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    color: #a8acb1;
}
.breadcrumb li a{
	 text-decoration: none; /*bo dau gach*/
    color: #a8acb1;
    font-size: 12px;
   }
.col-sm-2{
	padding-right: 0px;
    padding-left: 0px;
}
.infomation{
	background-color: #D9E0E7;
	position: relative;
    padding: 20px;
    border-left: #1d2226 solid 1px;
}
.infomation1{
background-color: white;
border-radius: 6px 6px 6px 6px;
padding-bottom: 15px;
}
.text-center{
  text-align: center;
  padding: 15px;
  height: 20%;
}

  .profile-name {
  text-align: center;
    color: #348fe2;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0 0;
    text-transform: uppercase;
    }
    .profile-title {
      text-align: center;
    font-size: 14px;
    text-transform: capitalize;
}
    .profile-wstatus {
    color: #8896a0;
    padding: 0 0 10px;
    text-transform: capitalize;
}

.menu ul {

  background: #8AD385;
  width: 100%;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.menu li {
  width: auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
   background-color: #f6f9fb;
    
    color: #5b9bd1;
}
.menu li a {
  text-decoration: none;
  color:#5b9bd1;
  font-weight: bold;
  display: block;
  font-size: 12px;
    font-weight: 400;
    padding-left: 8px;
}
.menu li a:hover {
  background: white;
  width: auto%;
  }

.infomation2{
	background-color: white;
  position: relative;
  padding: 15px;
  border-radius: 6px 6px 6px 6px;
  }
.person-info{
  font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
}
.button-container{
  font: 9px;
}
.buttonchangepassword{
      background-color: #00acac;
      font-size: 11px;
      color: white;
      border-radius: 3px 3px 3px 3px;
      border:0px;


      }

.buttonchangeavt{
  background-color: #5bc0de;
      font-size: 11px;
      text-align: center;
      border-radius: 3px 3px 3px 3px;
      color: white;
      border:0px;


}

.border-right{
  border-left: 1px solid #5b9bd1;
}
.Prolile-view{
  margin-top: 15px;
  position: relative;
    padding: 15px;
    font-weight: normal !important;
    text-align: left !important;
    color: #000;
    font-size: 10px;
    padding-bottom: 15px;

}
.myvalue_view{
    background: #f0f3f5 none repeat scroll 0 0;
    border: 1px solid #e2e7eb;
    border-radius: 3px;
    color: #707478 !important;
    padding-left: 5px;
    padding-top: 3px;
    min-height: 25px;
    word-wrap: break-word !important;
    padding-bottom: 5px;
    width: 71%;
}
.value-view{
  padding-bottom: 5px;
}
