html,  body{
	height: 100%;
	background-color: #444a56;	

}
.frames-login{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444a56;
}
.login-mid{
	background-color: white;
    height: auto;
    width: 476px;
    border-radius: 10px 10px 10px 10px;
}
.login-header{
	line-height: 17px;
	  height:17px;
	  color: white;
	  background-color: #242a30;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	  padding: 15px;

}
.login-body{
	position: relative;
    padding: 15px;
}
.login-form{}
.login-logo{
	margin-bottom: 20px;
}
.email{
 width: 80%;
 height: 20px;
 margin-left: 10px;
 margin-bottom: 20px;
 padding-left: 8px;
}
.passWord{
	width: 80%;
 height: 20px;
 margin-left: 13px;
	padding-left: 8px;
	margin-bottom: 20px;

}
.checkbox{
	margin-left: 30px;
	margin-bottom: 20px;

}
.signin{
	margin-left: 30px;
	color: white;
	height: 38px;
    width: 82px;
    border-radius: 5px 5px 5px 5px;
    background-color: #00acac;
    border:0px;
	}
.forgot{
	margin-left: 114px;
}	
.error{
	color: Red;
}